nav.menu {
    background-color: white;
    color: black !important;
    border-bottom: 1px purple solid;
    height: 100px;
    line-height: 100px;
    padding: 0 50px;
}

nav.menu a {
    color: black;
}

nav.menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.menu .material-icons {
    display: inline;
}

.brand-logo img {
    height: 80px;
}

.sousmenu {
    background-color: #fbb726;
    display: none;
    padding: 20px;
    height: 140px;
}

.sousmenu a {
    color: black;
}

.sousmenu h5 {
    margin: 0;
    width: 80%;
    margin: 0 auto;
}

.sousmenu ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    height: 100%;
}

.sousmenu ul li {
    margin: 5px 0;
    /* border: 1px solid black; */
}

.sousmenu.active {
    display: block;
}

header,
header img {
    width: 100%;
}

#menuTop {
    position: relative;
}

.sousmenu {
    position: absolute;
    width: 100%;
}